* {
    margin: 0;
    padding: 0;
}

/* nan bar page */
nav{
    background: rgb(76, 76, 237);
    padding: 10px;
    
}

main nav {
    display: flex;
    justify-content: space-between;
}

main nav ul {
    display: flex;
    align-items: center;

}

main nav ul li {
    margin-left: 2em;
    margin-right: 2em;
    padding: 5px;
    list-style: none;
}

main nav ul li a {
    text-decoration: none;
color: white;
}

#search{
    margin: 30px;
}

.input {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

input {
    padding: 8px;
    width: 50%;
    border: solid 2px gray;
}

.form-input button{
    display: flex;
    background: rgb(76, 76, 237);
    width: 30%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: white;
    justify-content: center;
}
.add-book{
    display: flex;
    justify-content: flex-end;margin: 10px;

}
.add-book button{
    padding: 10px;
    border: none;
    background-color: rgb(70, 70, 219);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.logo{
    background: white;
    border-radius: 40px;
    padding: 5px;
    position: relative;
    left: 14rem;
}

.input a {
    padding: 10px;
    background-color: rgb(136, 166, 255);
    color: black;
}

.navbar li:hover {
    background-color: rgb(2, 2, 2);
}

/* style page  customerr*/

.container{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

.product {
    margin-top: 20px;
    margin-bottom: 10px;
}
.product h4 ,span{
    margin-left: 25px;
}
span{
color: rgb(255, 0, 0);
font-size: larger;
}
.product img{
    margin: 20px;
    width: 200px;
    height: 288px;
    box-shadow: 0px 0px 5px 0px ;
    cursor: pointer;
    
}

.delivery{
    margin-left: 160px;
 }
 
.order {
    color: rgb(26, 99, 245);
    font-size: 30px;
}
.main-star {
    margin-left: 20px;
}

.material-icons{
    display: flex;
    
}
.material-icons {
    color: rgb(255, 176, 4); 
    cursor: pointer;
}

/* style table seller page */
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;

}

table,
td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
    
}

th {
    padding: 20px;
    border: dotted 1px;
    color: rgb(106, 106, 255);

}
th{
    background-color: rgb(211, 221, 251);

}
td:nth-child(2){
    text-align: center;
}
th,td:nth-child(1) {
    width: 5%;
    font-weight: bold
    
}
th:nth-child(2) {
    width: 10%;
}
th:nth-child(3) {
    width: 5%;
}
th:nth-child(4) {
    width: 4%;
}

.imgTable{
    width: 200px;
    height: 290px;
}


.form{
    width: 60%;
    margin: auto;
}
.form .form-input{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.form .form-input input,label{
    width: 100%;
    margin: auto;
    margin: 10px;
}
.form .form-input form{
   width: 70%;
   padding-right: 20px;
}

/* style seller page  */
.trash {
    color: rgb(255, 0, 0);
    cursor: pointer;
    margin: 10px
}
.edit {
    color: rgb(0, 68, 255);
    cursor: pointer;
    margin: 10px;
}

/* dialog */

#dialog-info{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.505);

}
dialog {
    position: fixed;
    top: 5vh;
    left: 30%;
    width: 35%;
    z-index: 10;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 5px 0px gray;
    overflow: hidden;
}

dialog section {
    padding: 10px;
    margin: 10%; 
}

dialog menu {
    padding: 10px;
    margin-left: 50px;
}

dialog menu button{
    padding: 10px;
    width: 25%;
}

dialog label {
    font-weight: bold;
    display: block;
}
dialog input {
  display: block;
  width: 90%;
  border: 1px solid #ccc;
}


.showdata{
    margin-top: 60px;
    margin-left: 100px;

}
p{
    margin-top: 20px;
}
#applyButton {
    padding: 12px;
    border:none;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    margin-left: 120px;
    background-color: rgb(61, 151, 255);
    color: white;
}

.contain{
    display: flex;
    margin: 100px;
}
#username , #email , #sms {
    margin: 20px;
}
#email{
    margin-left: 46px;
}
#sms{
    margin-left: 95px;
}

/* footer page customer */
footer{
    background-color: rgb(79, 79, 255);
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}

footer img{
    height: 60px;
    margin: 30px;
}

@media screen and (max-width: 200px) {
    .header img{
      float: none;
      display: block;
    };
  
    .container5 table td th tr {
        display: block;
    }
    
  }